@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Fira+Sans:wght@400;500&display=swap');

body {
    background-color: #131314;
    color: #d7dadd;
}

.open > .cover {
    border-radius: 1em;
    width: 100%;
    height: 60%;
}

.open > .playing {
    font-family: 'Fira Sans', monospace;
    font-weight: 400;
    font-size: 20px;
    display: block;
    color: #d7dadd;
}

.open > .artist {
    display: block;
    font-family: 'Fira Sans', monospace;
    color: #d7dadd;
}

.open {
    width: 20%;
    float: right;
    display: inline;
}

.selection {
    width: 75%;
    height: 100%;
    float: left;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,6fr));
    gap: 15px;
}

.song {
    background-color: #2a2f35;
    border-radius: 1em;
    overflow: hidden;
}

.song > .cover {
    width: 100%;
    object-fit: contain;
}

.desc > .title, .desc > .artist {
    font-family: 'Fira Sans', monospace;
    margin: 5px;
    padding-left: 10px;
}

.desc > .title {
    font-size: 20px;
    color: #d7dadd;
}

.desc > .artist {
    font-size: 16px;
    color: #a2a6aa;
    padding-bottom: 10px;
}

